@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>All products at this coffeeshop (click to learn more)</h1>

<form asp-method="post" asp-action="DeleteProduct">
    @foreach (Product p in @Model)
    {
        <div>
            <label for="@p.Id">
                <a asp-action="ViewProduct" asp-route-ProductId="@p.Id">@p.Name</a>
            </label>
            <input type="checkbox" name="DeleteList[]" id="@p.Id" value="@p.Id" />
        </div>
    }
    <button type="submit">Delete Product</button>
</form>

<br />
<br />
<h2>Add product</h2>
<form asp-method="post" asp-action="AddProduct">
    <p>Enter the name: <input type="text" name="Name" /></p>
    <p>Enter the description: <input type="text" name="Description" /></p>
    <p>Enter the price: <input type="number" step=".01" name="Price" /></p>
    <label>Select the category</label>
    <select name="Category" id="Category">
        <option value="Beverage">Beverage</option>
        <option value="Food">Food</option>
    </select>
    <br />
    <br />
    <button type="submit">Add Product</button>
</form>
